{{> head}}

{{> navbar}}

<div class="row">

  <div class="col-8">
    <h1>Entonces que te digo de lo mio?</h1>
    <p>Baje con trenza ey hey con trenza bajei Baje con trenza ey hey con trenza bajei Baje con trenza ey hey con trenza
      bajei Baje con trenza ey hey con trenza bajei Baje con trenza ey hey con trenza bajei Baje con trenza ey hey con
      trenza bajei Baje con trenza ey hey con trenza bajei Baje con trenza ey hey con trenza bajei Baje con trenza ey
      hey con trenza bajei</p>
  </div>

  <div class="col-4">
    <img src="assets/img/icon.png" class="img-thumbnail">
  </div>

</div>

{{> footer}}